In [1]:
import sys
import pandas as pd

In [2]:
df = pd.read_csv('players.csv')
df.sort_values(by=['displayName'], inplace=True)
df.head()

       nflId height  weight   birthDate      collegeName position displayName
347  2541162     72     191  1991-08-16  Central Florida       CB  A.J. Bouye
218  2552580    6-5     240  09/20/1991         Arkansas       TE  A.J. Derby
163  2495450     76     210  1988-07-31          Georgia       WR  A.J. Green
317  2539982     73     240  1991-07-30       Iowa State      OLB  A.J. Klein
714  2561538     71     202  1995-12-15      Mississippi       DB  A.J. Moore

In [3]:
df['displayName'].value_counts()

Brandon Williams    2
Isaiah Johnson      2
Michael Thomas      2
Marcus Williams     2
Brandon Marshall    2
                   ..
Eddie Pleasant      1
Eddie Jackson       1
Eddie Goldman       1
Ed Dickson          1
Zeke Turner         1
Name: displayName, Length: 1298, dtype: int64

In [4]:
df.dropna()

,nflId,height,weight,birthDate,collegeName,position,displayName
347,2541162,72,191,1991-08-16,Central Florida,CB,A.J. Bouye
218,2552580,6-5,240,09/20/1991,Arkansas,TE,A.J. Derby
163,2495450,76,210,1988-07-31,Georgia,WR,A.J. Green
317,2539982,73,240,1991-07-30,Iowa State,OLB,A.J. Klein
714,2561538,71,202,1995-12-15,Mississippi,DB,A.J. Moore
...,...,...,...,...,...,...,...
932,2556931,75,255,1993-01-10,Southern Methodist,LS,Zach Wood
1129,2553631,5-11,224,09/13/1991,South Dakota,RB,Zach Zenner
182,2561155,72,236,1996-07-02,Syracuse,ILB,Zaire Franklin
50,2557863,74,200,1995-03-30,East Carolina,WR,Zay Jones
1234,2561283,74,214,1996-06-09,Washington,LB,Zeke Turner

In [5]:
df.reset_index(inplace = True)
df.head()

,index,nflId,height,weight,birthDate,collegeName,position,displayName
0,347,2541162,72,191,1991-08-16,Central Florida,CB,A.J. Bouye
1,218,2552580,6-5,240,09/20/1991,Arkansas,TE,A.J. Derby
2,163,2495450,76,210,1988-07-31,Georgia,WR,A.J. Green
3,317,2539982,73,240,1991-07-30,Iowa State,OLB,A.J. Klein
4,714,2561538,71,202,1995-12-15,Mississippi,DB,A.J. Moore

In [6]:
for i in range(1303):
    df.at[i,'index']=i

In [7]:
df.head()

,index,nflId,height,weight,birthDate,collegeName,position,displayName
0,0,2541162,72,191,1991-08-16,Central Florida,CB,A.J. Bouye
1,1,2552580,6-5,240,09/20/1991,Arkansas,TE,A.J. Derby
2,2,2495450,76,210,1988-07-31,Georgia,WR,A.J. Green
3,3,2539982,73,240,1991-07-30,Iowa State,OLB,A.J. Klein
4,4,2561538,71,202,1995-12-15,Mississippi,DB,A.J. Moore

In [8]:
df.drop('nflId', axis=1, inplace=True)

In [9]:
df.head()

   index height  weight   birthDate      collegeName position displayName
0      0     72     191  1991-08-16  Central Florida       CB  A.J. Bouye
1      1    6-5     240  09/20/1991         Arkansas       TE  A.J. Derby
2      2     76     210  1988-07-31          Georgia       WR  A.J. Green
3      3     73     240  1991-07-30       Iowa State      OLB  A.J. Klein
4      4     71     202  1995-12-15      Mississippi       DB  A.J. Moore

In [10]:
df.to_csv('playersUpdated.csv')

In [11]:
df["index"]

0          0
1          1
2          2
3          3
4          4
        ...
1298    1298
1299    1299
1300    1300
1301    1301
1302    1302
Name: index, Length: 1303, dtype: int64