In [1]:
import pandas

In [2]:
df = pandas.read_csv("playersUpdated.csv")

In [3]:
df.head()

,Unnamed: 0,index,height,weight,birthDate,collegeName,position,displayName
0,0,0,72,191,1991-08-16,Central Florida,CB,A.J. Bouye
1,1,1,6-5,240,09/20/1991,Arkansas,TE,A.J. Derby
2,2,2,76,210,1988-07-31,Georgia,WR,A.J. Green
3,3,3,73,240,1991-07-30,Iowa State,OLB,A.J. Klein
4,4,4,71,202,1995-12-15,Mississippi,DB,A.J. Moore