In [1]:
import pandas

In [2]:
df = pandas.read_csv("playersUpdated.csv")

In [3]:
df.head()

,Unnamed: 0,index,height,weight,birthDate,collegeName,position,displayName
0,0,0,72,191,1991-08-16,Central Florida,CB,A.J. Bouye
1,1,1,6-5,240,09/20/1991,Arkansas,TE,A.J. Derby
2,2,2,76,210,1988-07-31,Georgia,WR,A.J. Green
3,3,3,73,240,1991-07-30,Iowa State,OLB,A.J. Klein
4,4,4,71,202,1995-12-15,Mississippi,DB,A.J. Moore

In [4]:
df.tail()

,Unnamed: 0,index,height,weight,birthDate,collegeName,position,displayName
1298,1298,1298,75,255,1993-01-10,Southern Methodist,LS,Zach Wood
1299,1299,1299,5-11,224,09/13/1991,South Dakota,RB,Zach Zenner
1300,1300,1300,72,236,1996-07-02,Syracuse,ILB,Zaire Franklin
1301,1301,1301,74,200,1995-03-30,East Carolina,WR,Zay Jones
1302,1302,1302,74,214,1996-06-09,Washington,LB,Zeke Turner

In [ ]:
df.tail(10)